@use "../base/variables" as v;
@use "../base/mixins" as m;

.descargar {
  background-color: v.$grisClaro;
  padding: v.$separacion;
  &__grid {
    @include m.tablet {
      @include m.grid(2, v.$separacion);
    }
  }

  &__imagen {
    width: 50%;
    margin: 0 auto;
    transition: transform 300ms ease-in-out;
    -webkit-transition: transform 300ms ease-in-out;
    -moz-transition: transform 300ms ease-in-out;
    -ms-transition: transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;

    &:hover {
      transform: rotate(4deg) scale(1.2);
      -webkit-transform: rotate(4deg) scale(1.2);
      -moz-transform: rotate(4deg) scale(1.2);
      -ms-transform: rotate(4deg) scale(1.2);
      -o-transform: rotate(4deg) scale(1.2);
    }
  }
}
