@use '../base/variables' as v;
@use '../base/mixins' as m;

.navegacion{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    align-items: center;
    @include m.desktop { 
        width: auto;
        flex-direction: row;
     }

    &__link{
        font-size: 2rem;
        font-weight: 700;
        color: v.$negro;
    }
}

.navegacion__link--registrar{
    @include m.boton(v.$primario, v.$blanco);
}